NEXT_PUBLIC_SITE_URL=https://portals.works
NEXT_PUBLIC_PDF_BASE_URL=https://raw.githubusercontent.com/DigitalCreationsCo/portals-cloud/main/generated-assets/pdfs
NEXT_PUBLIC_MIXPANEL_TOKEN=
NEXT_PUBLIC_ADDITIONAL_PUBLIC_EMAIL_DOMAINS=
NEXT_ALLOWED_DEV_ORIGINS=

LEADS_DATABASE_URL=
LEADS_HASH_KEY=
LEADS_ENCRYPTION_KEY=
LEADS_ENCRYPTION_KEY_ID=v1
LEADS_ENCRYPTION_KEYRING={}
LEADS_EMAIL_FROM=
LEADS_NOTIFICATION_EMAIL=
LEADS_DRY_RUN=false
LEADS_ALLOWED_ORIGINS=

APOLLO_API_KEY=
APOLLO_LIST_MAP={}
APOLLO_CALLBACK_SECRET=

RESEND_API_KEY=
PILOT_CALENDAR_URL=
PILOT_PRICE_AMOUNT=5000
PILOT_ROOM_SECRET=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
MIXPANEL_PROJECT_TOKEN=
CRON_SECRET=

NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=
NEXT_PUBLIC_SITE_URL=
SANITY_WEBHOOK_SECRET=
GITHUB_TOKEN=
GITHUB_REPO=DigitalCreationsCo/portals-cloud
GITHUB_BRANCH=main
