{
  admin off
}

{$AUTH_DOMAIN} {
  tls /run/secrets/caddy/fullchain.pem /run/secrets/caddy/privkey.pem
  @grpc protocol grpc
  handle @grpc {
    reverse_proxy h2c://auth-gateway:8084
  }
  @public path /callback /.well-known/jwks.json
  handle @public {
    reverse_proxy auth-gateway:8085
  }
  respond 404
}

{$LORE_DOMAIN} {
  tls /run/secrets/caddy/fullchain.pem /run/secrets/caddy/privkey.pem
  @grpc protocol grpc
  handle @grpc {
    reverse_proxy h2c://lore:41337
  }
}
