LORE_ENV=prod
LORE_CONFIG_PATH=/etc/lore/config
LORE_SECURITY_MODE=strict
LORE_REBAC_URL=http://auth-gateway:8087
LORE__SERVER__AUTH__JWT_ISSUER=https://__REPLACE_AUTH_DOMAIN__
LORE__SERVER__AUTH__JWK__ENDPOINT=https://__REPLACE_AUTH_DOMAIN__/.well-known/jwks.json
LORE__SERVER__HTTP__STORE_HEALTH_CHECK=true
LORE__SERVER__QUIC__ENABLED=true
LORE__SERVER__QUIC__VERIFY_CLIENT_CERTS=false
LORE__SERVER__QUIC__CERTIFICATE__CERT_FILE=/run/secrets/lore-quic/fullchain.pem
LORE__SERVER__QUIC__CERTIFICATE__PKEY_FILE=/run/secrets/lore-quic/privkey.pem
LORE__IMMUTABLE_STORE__MODE=aws
LORE__MUTABLE_STORE__MODE=aws
LORE__LOCK_STORE__MODE=aws
LORE__PLUGINS__AWS__IMMUTABLE_STORE__S3_BUCKET=__REPLACE_LORE_BUCKET__
LORE__PLUGINS__AWS__IMMUTABLE_STORE__S3_REGION=__REPLACE_AWS_REGION__
LORE__PLUGINS__AWS__IMMUTABLE_STORE__DYNAMODB_FRAGMENTS_TABLE=__REPLACE_FRAGMENTS_TABLE__
LORE__PLUGINS__AWS__IMMUTABLE_STORE__DYNAMODB_METADATA_TABLE=__REPLACE_METADATA_TABLE__
LORE__PLUGINS__AWS__MUTABLE_STORE__DYNAMODB_TABLE=__REPLACE_MUTABLE_TABLE__
LORE__PLUGINS__AWS__LOCK_STORE__DYNAMODB_TABLE=__REPLACE_LOCKS_TABLE__
AWS_REGION=__REPLACE_AWS_REGION__
AWS_ACCESS_KEY_ID=__REPLACE_SCOPED_LORE_ACCESS_KEY_ID__
AWS_SECRET_ACCESS_KEY=__REPLACE_SCOPED_LORE_SECRET_ACCESS_KEY__
AWS_EC2_METADATA_DISABLED=true
