{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": ["s3:ListBucket", "s3:GetBucketLocation"],
      "Resource": "arn:aws:s3:::__REPLACE_LORE_BUCKET__"
    },
    {
      "Effect": "Allow",
      "Action": ["s3:GetObject", "s3:PutObject", "s3:DeleteObject"],
      "Resource": "arn:aws:s3:::__REPLACE_LORE_BUCKET__/*"
    },
    {
      "Effect": "Allow",
      "Action": ["dynamodb:GetItem", "dynamodb:PutItem", "dynamodb:UpdateItem", "dynamodb:DeleteItem", "dynamodb:Query", "dynamodb:Scan", "dynamodb:BatchWriteItem", "dynamodb:BatchGetItem", "dynamodb:TransactWriteItems", "dynamodb:TransactGetItems", "dynamodb:DescribeTable"],
      "Resource": [
        "arn:aws:dynamodb:__REPLACE_REGION__:__REPLACE_ACCOUNT_ID__:table/__REPLACE_FRAGMENTS_TABLE__",
        "arn:aws:dynamodb:__REPLACE_REGION__:__REPLACE_ACCOUNT_ID__:table/__REPLACE_METADATA_TABLE__",
        "arn:aws:dynamodb:__REPLACE_REGION__:__REPLACE_ACCOUNT_ID__:table/__REPLACE_MUTABLE_TABLE__",
        "arn:aws:dynamodb:__REPLACE_REGION__:__REPLACE_ACCOUNT_ID__:table/__REPLACE_LOCKS_TABLE__",
        "arn:aws:dynamodb:__REPLACE_REGION__:__REPLACE_ACCOUNT_ID__:table/__REPLACE_LOCKS_TABLE__/index/*"
      ]
    }
  ]
}
